This session we will understand about python basics

In [ ]:
print("faiz khatri") # abc

In [ ]:
a = 12

In [ ]:
print(a)

In [ ]:
b = 36

In [ ]:
c = a + b

In [ ]:
print(c)

In [ ]:
# data types

# integer -> int -> 2,78,34567
# float -> float -> 56.90,2.9
# string -> str - > "asdfghjj!@#$%23456"
# boolean -> bool -> True False

In [ ]:
va = True

In [ ]:
type(va)

In [ ]:
# sequential data types

In [48]:
j = 23,45,56,78,90

In [69]:
# j.append(67)

In [ ]:
tuple -> ()
list-> []
dictionary -> {}
sets -> {}

In [ ]:
print(j)

In [ ]:
myist = [23,67,43.98,"hello",[1,87,44.6],34,55]

In [ ]:
print(myist)

In [ ]:
len(myist)

In [ ]:
# indexing
myist[-1]

In [ ]:
# slicing
# start_pstion : endpotion + 1
myist[1:4]

In [47]:
myist[4][1]

87

In [56]:
myist.append(233)

In [57]:
print(myist)

[23, 67, 43.98, 'hello', [1, 87, 44.6], 34, 55, 233, 233, 233]

In [58]:
myist.insert(0,"kkk")

In [59]:
myist

['kkk', 23, 67, 43.98, 'hello', [1, 87, 44.6], 34, 55, 233, 233, 233]

In [71]:
d = {
    "Name" : "Faiz",
    "Age" : 25,
    "Location" : "Mumbai",
    "course" : ["AI","data science","data analysis"]
    }

In [ ]:
# statements

In [74]:
# if, elif and else

In [81]:
t = 34
if t == 65:
    print("ok")
elif  t == 34:
    print("ttt")
else:
    print("bye")

ttt

In [82]:
# student will come enter their marks:
# marks between 80 - 100 ---> A
# marks between 60 - 79  ---> B
# marks between 35 - 59  ---> C
# marks between  0 - 34  ---> Fail

# Negative marks not allowed and no invalid entry such as name or marks greater than 100

# input()
# statements
# try and except

In [95]:
try:
    m = int(input("enter your marks: "))
    if m >= 80 and m < 101:
        print("Grade A")
    elif m >= 60 and m < 80:
        print("Grade B")
    elif m >= 35 and m < 60:
        print("Grade C")
    elif m >= 0 and m < 35:
        print("Fail")
    else:
        print("Please Enter a valid number")
except:
    print("Add only numeric value")

enter your marks: fourty four
Add only numeric value

In [87]:
print(m)

65

In [88]:
type(m)

int

In [99]:
# loops
# for and while

In [104]:
for i in range(1,11):
    print("2 * ",i, "=",2*i)

2 *  1 = 2
2 *  2 = 4
2 *  3 = 6
2 *  4 = 8
2 *  5 = 10
2 *  6 = 12
2 *  7 = 14
2 *  8 = 16
2 *  9 = 18
2 *  10 = 20

In [1]:
my_list = [2,67,73,90.45,22.7,"hello","lets see",[5,9,2],"yeah"]

In [2]:
# knowledge of for loop
# knowledge of append function
int_list = []
float_list = []
str_list = []
for i in my_list:
    if type(i) == int:
        int_list.append(i)
    elif type(i) == float:
        float_list.append(i)
    elif type(i) == str:
        str_list.append(i)
print(int_list)
print(float_list)
print(str_list)

[2, 67, 73]
[90.45, 22.7]
['hello', 'lets see', 'yeah']

In [3]:
def myfunction():
    return "faiz khatri"

In [4]:
myfunction()

'faiz khatri'

In [5]:
def mathfunction(number1, number2):
    s = number1 + number2
    return s

In [6]:
mathfunction(3,7)

10

In [7]:
def mathfunction(number1, number2, operation):
    if operation == "add":
        s = number1 + number2
    elif operation == "sub":
        s = number1 - number2
    elif operation == "Multiply":
        s = number1 * number2       
    return s

In [9]:
mathfunction(10,6,"Multiply")

60

In [15]:
# libraries

## machine learning librraries
    # pandas
    # numpy
    # matplotlib / seaborn
    # sklearn
    
## Deep Learning
    # tensorflow / keras
    # pandas
    # numpy
    # matplotlib / seaborn

## computer Vision
    # opencv (cv2)

## NLP 
    # NLTK
    
## Generative AI
    # Transformers Library
    # pythorch
    # openai
    # hugging face
    # LLM (prompt Engineering)
    
## Deployment
    # hugging face deployment (streamlit)
    
## Maths for AI

In [13]:
! pip install pandas

In [16]:
import pandas as pd

In [23]:
data = pd.read_csv("Advertising Budget and Sales.csv",index_col=0)

In [25]:
data.head(5)

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [26]:
data.tail(10)

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
191              39.5                 41.1                      5.8       10.8
192              75.5                 10.8                      6.0        9.9
193              17.2                  4.1                     31.6        5.9
194             166.8                 42.0                      3.6       19.6
195             149.7                 35.6                      6.0       17.3
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

In [27]:
data.shape

(200, 4)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TV Ad Budget ($)         200 non-null    float64
 1   Radio Ad Budget ($)      200 non-null    float64
 2   Newspaper Ad Budget ($)  200 non-null    float64
 3   Sales ($)                200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [29]:
data.describe()

,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
count,200.000000,200.000000,200.000000,200.000000
mean,147.042500,23.264000,30.554000,14.022500
std,85.854236,14.846809,21.778621,5.217457
min,0.700000,0.000000,0.300000,1.600000
25%,74.375000,9.975000,12.750000,10.375000
50%,149.750000,22.900000,25.750000,12.900000
75%,218.825000,36.525000,45.100000,17.400000
max,296.400000,49.600000,114.000000,27.000000

In [30]:
data.isnull().sum()

TV Ad Budget ($)           0
Radio Ad Budget ($)        0
Newspaper Ad Budget ($)    0
Sales ($)                  0
dtype: int64